<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    {{#if follow_up}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
    {{/if}}
  </h1>

  <div class="form">
    {{! default request form; renders w/ the id #new_request }}
    {{request_form}}

    <form id="custom_form" data-form="" data-form-type="request" class="request-form" action="/hc/en-us/requests"
      accept-charset="UTF-8" method="post">
      <div class="form-field request_subject string required">
        <label for="request-subject">
          Assunto
        </label>
        <input type="text" id="request_subject" name="request[subject]" />
      </div>
      <div class="form-field request_description string required">
        <label for="request-subject">
          Descrição
        </label>
        <input type="text" id="request_description" name="request[description]" />
      </div>
      <footer>
        <input type="submit" name="commit" value="Enviar" />
      </footer>
    </form>
  </div>
</div>
